{% if arPluhinList is not empty %}
<div uk-scrollspy="target: > div; cls:uk-animation-scale-up; delay: 300">
    {% if 'shopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-shopaholic" rel="nofollow" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="{{ 'assets/img/shopoholic_banner.png'|theme }}" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'propertiesshopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-propertiesshopaholic" rel="nofollow" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="{{ 'assets/img/properties_banner.png'|theme }}" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'filtershopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-filtershopaholic" rel="nofollow" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="{{ 'assets/img/filters_banner.png'|theme }}" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'buddies' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-buddies" rel="nofollow" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="{{ 'assets/img/buddies_banner.png'|theme }}" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'ordersshopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-ordersshopaholic" rel="nofollow" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="{{ 'assets/img/orders_banner.png'|theme }}" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'omnipayshopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-omnipayshopaholic" rel="nofollow" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="{{ 'assets/img/omnipay_banner.png'|theme }}" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'reviewsshopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-reviewsshopaholic" rel="nofollow" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="{{ 'assets/img/reviews_banner.png'|theme }}" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'relatedproductsshopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-relatedproductsshopaholic" rel="nofollow" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="{{ 'assets/img/related_products_banner.png'|theme }}" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'accessoriesshopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-accessoriesshopaholic" rel="nofollow" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="{{ 'assets/img/accessories_banner.png'|theme }}" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'toolbox' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-toolbox" rel="nofollow" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                     src="{{ 'assets/img/toolbox_banner.png'|theme }}" alt="">
            </a>
        </div>
    {% endif %}
</div>
{% endif %}
