<article class="uk-comment">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            <div class="uk-text-middle">
                {% partial 'product/product_rating' iRating=obReview.rating %}
            </div>
        </div>
        <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove"><span class="uk-link-reset">{{ obReview.name }}</span></h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><span>{{ obReview.created_at.diffForHumans() }}</span></li>
            </ul>
        </div>
    </header>
    <div class="uk-comment-body">
        <p>{{ obReview.comment }}</p>
    </div>
</article>