<div class="uk-margin-small-top right_panel">
    {% partial 'common/page_info' sText='pages/category_list.htm' %}
    <div class="uk-alert-primary" uk-alert>
        <p>Page with category tree. List of categories sorted and filtered by field "active".</p>
    </div>
    <div class="uk-alert-primary" uk-alert>
        <p>We use the <a href="https://github.com/lovata/oc-shopaholic-plugin/wiki/CategoryList" target="_blank"><strong>CategoryList</strong></a> component to render category tree.</p>
    </div>
    {% partial 'common/plugin_list_block' %}
</div>
