<div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="center: false; autoplay: true; autoplay-interval: 3000">
    <ul class="uk-slider-items uk-child-width-1-3">
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-shopaholic" rel="nofollow" target="_blank">
                    <img src="{{ 'assets/img/shopoholic_banner.png'|theme }}" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-propertiesshopaholic" rel="nofollow" target="_blank">
                    <img src="{{ 'assets/img/properties_banner.png'|theme }}" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-filtershopaholic" rel="nofollow" target="_blank">
                    <img src="{{ 'assets/img/filters_banner.png'|theme }}" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-ordersshopaholic" rel="nofollow" target="_blank">
                    <img src="{{ 'assets/img/orders_banner.png'|theme }}" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-omnipayshopaholic" rel="nofollow" target="_blank">
                    <img src="{{ 'assets/img/omnipay_banner.png'|theme }}" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-toolbox" rel="nofollow" target="_blank">
                    <img src="{{ 'assets/img/toolbox_banner.png'|theme }}" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-buddies" rel="nofollow" target="_blank">
                    <img src="{{ 'assets/img/buddies_banner.png'|theme }}" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-reviewsshopaholic" rel="nofollow" target="_blank">
                    <img src="{{ 'assets/img/reviews_banner.png'|theme }}" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-accessoriesshopaholic" rel="nofollow" target="_blank">
                    <img src="{{ 'assets/img/accessories_banner.png'|theme }}" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-relatedproductsshopaholic" rel="nofollow" target="_blank">
                    <img src="{{ 'assets/img/related_products_banner.png'|theme }}" alt="">
                </a>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
       uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
       uk-slider-item="next"></a>

</div>