title = "Catalog"
url = "/catalog"
layout = "main"
meta_title = "Catalog"
is_hidden = 0

[CategoryList]
==
<div class="uk-grid uk-margin-remove-left">
    <div class="uk-width-5-6">
        {% partial 'breadcrumbs/catalog' %}
        {% partial 'common/page_title' sPageTitle=this.page.title %}

        <h4>Category list:</h4>
        {# Get category collection #}
        {% set obCategoryList = CategoryList.make().tree() %}
        {% if obCategoryList.isNotEmpty %}
        <ul class="uk-list uk-list-bullet">
            {% for obParentCategory in obCategoryList if obParentCategory.product_count > 0 %}
            <li>
                <a href="{{ obParentCategory.getPageUrl('category') }}">{{ obParentCategory.name }}</a>
                {% if obParentCategory.children is not empty %}
                <ul class="uk-list uk-list-bullet">
                    {% for obCategory in obParentCategory.children if obCategory.product_count > 0  %}
                        <li>
                            <a href="{{ obCategory.getPageUrl('product_list') }}">{{ obCategory.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="uk-width-1-6">
        {% partial 'right_panel/category_list_page' %}
    </div>
</div>